body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-color: black;
}

p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}